---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hayden Huffman</h1>
  <p>Developer/Saxophonist</p>
  <Greeting client:load messages={["Hi", "Hello", "Howdy"]} />

</BaseLayout>
