---
import BaseLayout from '../layouts/BaseLayout.astro';
import Performance from "../components/Performance.astro";
const allPosts = await Astro.glob('./performances/*.md');
const pageTitle = "Performances";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Upcoming Performances</h1>
  <h4>October</h4>
  <ul>
    {allPosts.map((post) => <Performance post={post} />)}
  </ul>
</BaseLayout>
